= simple_form_for(@book) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    -#= f.association :authors, collection: Author.all
    = f.input :author_tokens, input_html:{data:{load:@book.authors}}

  .form-actions
    = f.button :submit
